.fit {
	display: block;
}

//検索項目

.title {
	font-size: 180%;
	text-align: center;
	line-height: 170%;
	color: white;
	box-sizing: border-box;
	background-color: black;
}

.round {
	border-radius: 100px;
}

// search-item
.search-item {
	text-align: center;
	background-color: white;
	margin-top: 50px;
	padding-bottom: 40px;
	height: 520px;
	position: relative;
}

.btn {
	margin: 10px 10px 0 0;
	padding-left: 5px;
}

.btn-primary:hover {
	color: white;
	background-color: #0d6efd;
}

.btn-danger:hover {
	color: white;
	background-color: #dc3545;
}

.radio-button {
	border-radius: 50px;
	appearance: none;
}

.button-1 {
	margin-top: 12%;
}

//image
.image {
	width: 100%;
}

#image-1 {
	height: 380px;
}

.image-tag {
	padding-top: 40px;
	width: 65%;
	height: 400px;
	object-fit: cover;
	
}

//戻るボタン
.back-button {
	position: absolute;
	top: 87%;
	left: 30%;
}

.back-button:hover {
	background-color: #6c757d;
	color: white;
}

//診断ボタン
.btn-search {
	position: relative;
	display: block;
	width:200px;
	height: 130px;
	margin: 300px 0 0 50%;
	transform: translate(-50%, -50%);
}

.btn-search-top {
	position: absolute;
	top: 0;
	left: 20px;

	width: 160px;
	height: 60px;
	margin-top: 30px;
	transition: all 0.3s;
	border-radius: 0 0 50% 50%;
	background: #d62d2d;
}

.btn-search-top:before {
  position: absolute;
  top: -30px;
  left: 0;

  width: 160px;
  height: 60px;

  content: "";

  border-radius: 80px / 30px;
  background: #ed4c4c;

	z-index: 1;
}

.btn-search:hover .btn-search-top {
  top: 10px;
  height: 50px;
}

.btn-search:active .btn-search-top {
  top: 20px;
  height: 40px;
}


.btn-search-top span {
  font-size: 40px;
	font-weight: bold;

  position: absolute;
  top: -31px;
  left: 0;

  width: 100%;

  -webkit-transform: scaleY(0.75);

  transform: scaleY(0.75);
  text-align: center;

	z-index: 1;
}

.btn-submit {
	color: #f6a3a3;
	background-color: #ed4c4c;
	border: none;
	padding: 0;
}

.btn-search-bottom {
  position: absolute;
  top: 38px;
  left: 0;

  width: 200px;
  height: 80px;

  border-radius: 100px / 40px;
  background: #d8e4ea;
  -webkit-box-shadow: 0 8px 0 #c4cacc;
  box-shadow: 0 8px 0 #c4cacc;
}

//結果画面

.result p{
	font-weight: bold;
	font-size: 100%;
}

.twitter-share {
	background-color: white;
	text-decoration: none;
	width: 30%;
	height: 5%;
	padding: 5px 2%;
	display: block;
	.fa-twitter {
		color: #3399FF;
		padding-right: 5%;
	}
}

.to-title {
	margin-bottom: 50px;
}

//スマホレスポンシブ
@media screen and (max-width: 512px){
	.youtube-icon {
		width: 35%;
		position: absolute;
		top: 30%;
	}

	//.video {
	//	width: 30%;
	//	height: 10%;
	//}
}


