<div class="col-11 col-md-10 col-lg-8 container">
  <div class="row ranking-row">
    <h1 class="title round">ランキング</h1>

    <% if logged_in? %>
    <% else %>
      <div class="login-warning round">
        <i class="fa fa-exclamation-triangle"></i><p>レビューを投稿するには、ログインが必要です</p>
      </div>
    <% end %>

    <div class="col-12 col-md-9 col-lg-9 ranking-total-wrapper">
      <%= render 'rankings/ranking' %>
    </div>
  </div>
</div>

<%= render 'rankings/star' %>
