/* 検索画面  */

.q-wrapper, .btn-search {
	font-family: 'Mochiy Pop P One', sans-serif; 
}

.commentators {
  text-align: center;
}

.movie-styles {
  text-align: center;
}

.round {
  border-radius: 100px;
  text-align: center;
}

.form {
  margin: 0 auto;
}

.sector {
  font-size: 20px;
  background-color: white;
  width: 200px;
  height: 40px;
  line-height: 2em;
  margin: 30px auto;
}

.title {
  background-color: black;
  margin-top: 80px;
  height: 50px;
  h1 {
    color: white;
    line-height: 50px;
    font-size: 30px;
  }
}

.label{
  cursor: pointer;
  padding:5px 5px;
  margin-right: 10px;
  border-radius: 100px;
  background-color: black;
  color: white;
}

//背景画像全体
.image img {
  object-fit: contain;
}

/* ゲームジャンル */
#image-tag-1 {
  height: 360px;
  width: 90%;
}

.games-genre {
  display: flex;
  position: relative;
  margin-top: 2%;
  margin-left: 25%;
}

#big-category {
  position: absolute;
  top: -10%;
  left: -25%;
}

#parent_gamegenre {
  //position: absolute;
  top: 10%;
  left: 50%;
  margin-left: 40%;
  width: 100%;
}

#small-category {
  position: absolute;
  top: 120%;
  left: -25%;
}

#child_gamegenre {
  position: absolute;
  top: 120%;
  left: 30%;
}

.select {
  padding-left: 8px;
  border: 2px solid skyblue;
  border-radius: 50px;
  background: #ffffff;
  height: 2em;
  width: 50%;
  padding-right: 1em;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select::-ms-expand {
  display: none;
}

//.gamegenre::before {
//  position: absolute;
//  top: 44%;
//  left: 55%;
//}

#children_wrapper {
  display: flex;
  text-align: center;
}

//ボタン

.next-button {
  display: inline-block;
  margin-top: 60px;
}

#next-button-2 {
  margin-right: -40%;
}

.back-button {
  margin-left: -20%;
}

/* プレイスタイル */
.select-play-style {
  margin: 30px 0 0 33%;
}

.play-style {
  position: absolute;
  top: 68%;
  left: 16%;
  width: 60%;
}

//.select-wrapper {
//  width: 100%;
//}

//.select-wrapper::before {
//  content: '';
//  border-left: 6px solid transparent;
//  border-right: 6px solid transparent;
//  border-top: 8px solid skyblue;
//  pointer-events: none;
//}

.play-style::before {
  position: absolute;
  top: 70%;
  left: 81%;
}

.image-tag {
  width: 85%;
}

#image-tag4 {
  width: 92%;
}

/* ラジオボタン */

.btn {
  border-radius: 50px;
  padding-left: 5px;
}

.radio-buttons label {
  background-color: white;
}

.radio-button {
  appearance: none;
}

.btn-primary {
  width: 40%;
}

.search {
  margin-top: 80px;
  margin-left: 30%;
  margin-bottom: 100px;
}

//診断ボタン
.btn-search-wrapper {
	height: 400px;
  position: fixed;
    top: 100px;
    left: 15%;
	width: 70%;
	background-color: white;
	border-radius: 100px;
}

.btn-search {
	position: relative;
	display: block;
	width:200px;
	height: 130px;
	margin: 200px 0 0 50%;
	transform: translate(-50%, -50%);
}

.btn-search-top {
	position: absolute;
	top: 0;
	left: 20px;

	width: 160px;
	height: 60px;
	margin-top: 30px;
	transition: all 0.3s;
	border-radius: 0 0 50% 50%;
	background: #d62d2d;
}

.btn-search-top:before {
  position: absolute;
  top: -30px;
  left: 0;

  width: 160px;
  height: 60px;

  content: "";

  border-radius: 80px / 30px;
  background: #ed4c4c;

	z-index: 1;
}

.btn-search:hover .btn-search-top {
  top: 10px;
  height: 50px;
}

.btn-search:active .btn-search-top {
  top: 20px;
  height: 40px;
}


.btn-search-top span {
  font-size: 40px;
	font-weight: bold;

  position: absolute;
  top: -24px;
  left: 0;

  height: 0;
  width: 100%;

  -webkit-transform: scaleY(0.75);

  transform: scaleY(0.75);
  text-align: center;

	z-index: 1;
}

.btn-submit {
	color: #f6a3a3;
	background-color: #ed4c4c;
	border: none;
  padding: 0;
}

.btn-search-bottom {
  position: absolute;
  top: 38px;
  left: 0;

  width: 200px;
  height: 80px;

  border-radius: 100px / 40px;
  background: #d8e4ea;
  -webkit-box-shadow: 0 8px 0 #c4cacc;
  box-shadow: 0 8px 0 #c4cacc;
}

/* 結果画面 */
.mini-result-wrapper {
  margin-top: -140px;
}

.result-wrapper-normal-not-found {
  background-color: white;
  height: 280px;
  margin: 0 auto;
}

.result {
  background-color: white;
  height: 350px;
  border-radius: 100px;
  margin: 30px auto;
  position: relative;
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.result-r {
	height: 380px;
	background-color: white;
	margin: 30px auto;
}

.commentator-info {
	height: 100%;
  position: relative;
}

.commentator-name {
  background-color: black;
  width: 80%;
  height: 50px;
  color: white;
  font-weight: bold;
  line-height: 3em;
  position: absolute;
  top: 40px;
  left: 10%;
}

.youtube-icon {
  position: absolute;
  top: 110px;
  left: 7%;
  width: 32%;
  border-radius: 100px;
}

.video {
  position: absolute;
  left: 45%;
  top: 110px;
  width: 40%;
  height: 50%;
}

//詳細ボタン
.detail-button {
  background-color: black;
  color: white;
  font-size: 150%;
  width: 80px;
  height: 40px;
  padding-left: 11px;
  position: absolute;
  top: 320px;
  left: 40%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}

.show-screen {
  position: absolute;
    top: 37%;
    width: 100%;
  margin-top: 20px;
  height: 610px;
  background-color: white;
  width: 100%;
}

.registration-notice {
	text-align: center;
  background-color: black;
  color: white;
	padding-top: 11px;
  word-wrap: break-word;
}

.twitter-share {
  background-color: white;
  text-decoration: none;
  width: 27%;
  height: 37px;
  padding: 5px 2%;
  margin-bottom: 20px;
  display: block;
  .fa-twitter {
    color: #3399FF;
    padding-right: 5%;
  }
}

.to-more-function {
	height: 35px;
	width: 30%;
  font-size: 11px;
}

.result-screen-login {
	font-size: 12px;
	width: 30%;
  height: 35px;
  margin-left: 5%;
}

.random-commentators {
  position: absolute;
    top: 200px;
    left: 0;
}

.random-button {
  position: absolute;
    top: 380px;
    left: 34%;
  width: 30%;
}

.to-title {
  margin-left: auto;
	font-size: 12px;
	width: 30%;
	height: 35px;
	position: absolute;
    top: -35px;
    right: 0px;
}

//.to-title-random-wrapper {
//  height: 50px;
//  margin-top: 500px;
//}

.to-title-random {
  margin-left: auto;
	font-size: 12px;
	width: 30%;
	height: 35px;
	position: absolute;
    left: 34%;
}

//オススメボタン
.not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}
.recommendation-button {
  display: inline-block;
  width: 35%;
  position: absolute;
  top: 530px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}

.fit {
  display: block;
}













