<div class="col-11 container">
  <div class="row">
    <div class="profile-edit-wrapper">
      <h1 class="title round">プロフィール編集</h1>
    </div>
    <div class="diagnosis-history-wrapper">
      <h1 class="title round">診断履歴</h1>
    </div>
  </div>
</div>


