<header>
  <nav style="height: 100%;">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'search_item/ゲーム実況者診断-ロゴ.png', size: '200x40' %>
    <% end %>

    <div id="navbarSupportedContent">
      <ul class="navbar-nav-before ml-auto main-nav align-items-center">
        <li class="nav-item">
          <%= link_to 'ログイン', login_path ,class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </nav>
</header>
