<div id="contact-modal" class="modal" style="display: none;" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">お問い合わせ</h5>
        <button type="button" class="btn-close" aria-label="Close"></button>
      </div>
      <div class="modal-body">
				<p>不具合のご報告やアプリについてのご意見はこちらからご連絡ください。</p>
				<div class="contact-name">
					aaa
				</div>
        <div class="contact-email">
					aaa
				</div>
				<div class="contact-title">
					aaa
				</div>
				<div class="contact-message">
					aaa
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn2-close" >閉じる</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div> 
</div>