<footer>
	<p><%= link_to 'お問い合わせ', new_contact_path, data: {"turbolinks"=>false}, class: 'footer-link', id: 'contact-link' %></p>
	<p><%= link_to 'プライバシーポリシー', root_path, remote: true, data: {"turbolinks"=>false}, class: 'footer-link', id: 'privacy-link' %></p>
	<p><%= link_to '利用規約', root_path, remote: true, data: {"turbolinks"=>false}, class: 'footer-link', id: 'terms-link' %></p>
</footer>