<div class="twitter">
	<%= link_to "https://twitter.com/share?url=https://	game-commentator-checker.herokuapp.com&text=あなたへのオススメ実	況者は、「#{ commentators.pluck(:name).join('、') }」です！&	hashtags=ゲーム,ゲーム実況,ゲーム実況者", target: '_blank', 	class: 'twitter-share round' do  %>
		<i class="fa fa-twitter" aria-hidden="true"></i>Twitter
	<% end %>
</div>
