<div class="twitter">
	<%= link_to "https://twitter.com/share?url=https://	game-commentator-checker.com&text=あなたへのオススメ実況者は、「#{ commentators.pluck(:name).join('、') }」です!&	hashtags=ゲーム,ゲーム実況,ゲーム実況者,ゲーム実況者診断", target: '_blank', 	class: 'twitter-share round' do  %>
		<i class="fa fa-twitter" aria-hidden="true"></i>シェア
	<% end %>
</div>
