<div class="container">
	<div class="row">
		<div class="home-title">
			<h2>あなたに合うゲーム実況者が見つかる</h2>
	
			<h1>ゲーム実況者診断</h1>
		</div>
		<%= link_to t('.simplified'), simplified_searches_new_path, data: {"turbolinks"=>false}, class: 'btn-start' %>
		<%= link_to t('.normal'), normal_searches_new_path, data: {"turbolinks"=>false}, class: 'btn-start' %>
	</div>
</div>

