<div class="container">
	<div class="row">
		<div class="background">
			<div class="home-title">
				<h2 class="game-fonts">あなたに合う<br>ゲーム実況者が見つかる</h2>
				<h1 class="game-fonts">ゲーム実況者診断</h1> 
			</div>
			<div class="link-to-mode">
				<%= link_to t('.simplified'), simplified_searches_new_path, data: {"turbolinks"=>false}, class: 'btn-start', id: 'left-start' %>
				<%= link_to t('.normal'), normal_searches_new_path, data: {"turbolinks"=>false}, class: 'btn-start', id: 'right-start' %>
			</div>
		</div>
	</div>
</div>



