/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import 'font-awesome';
@import 'bootstrap'; 
@import 'simplified/searches';
@import 'normal/searches';
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import 'homes';
@import 'contacts';
@import 'users';
@import 'profiles';
@import 'user_sessions';
@import 'name_searches';
@import 'diagnosis_history/commentators';
@import 'diagnosis_histories';
@import 'reviews';
@import 'kaminari';
/* @import 'rankings'; */

/*
*= require_tree .
*= require_self
*/

body {
  background-color: rgba(203, 218, 241, 0.5);
  background-image: url('background4.png');
  font-family: 'Mochiy Pop P One', sans-serif;
}

.alert {
  z-index: 1;
  position: absolute;
    top: 60px;
    left: 20%;
  text-align: center;
  width: 60%;
  padding: 10px;
  border-radius: 20px;
}
