/* お問い合わせ画面 */
label {
	font-size: large;
}

.form-group {
	margin-top: 20px;
}

.form-control {
	margin-top: 10px;
}

.to-title-2 {
	width: 40%;
}

.contacts-confirm {
	margin-top: -60px;
	margin-left: 60%;
}

.contacts-back {
	margin-top: 5%;
  margin-left: 0;
	width: 40%;
}

.contacts-submit {
	margin-top: -60px;
	margin-left: 60%;
}
