html,body {
	height: 100%;
}

.background {
	background: url("22182134.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 100px;
	position: relative;
}

.game-fonts { 
	font-family: 'Mochiy Pop P One', sans-serif; 
}

.home-title {
	height: 120px;
	h2 {
		position: absolute;
		top: -15%;
		left: 0%;
		width: 100%;
		text-align: center;
		display: inline-block;
		font-size: 170%;
	}
	
	h1 {
		width: 100%;
		text-align: center;
		font-size: 240%;
		display: inline-block;
		position: absolute;
		top: 45%;
		left: 0%;
	}
}

.btn-start {
	display: inline-block;
	border-radius: 100px;
	background-color: black;
	color: white;
	text-decoration: none;
	text-align: center;
	margin: 100px auto;
	padding: 20px 20px;
	width: 40%;
}

.link-to-mode {
	position: relative;
	height: 300px;
}

#left-start {
	position: absolute;
	top: 240px;
	left: 7%;
}

#right-start {
	position: absolute;
	top: 240px;
	left: 53%;
}

/* footer */
footer {
	background: rgba(white, 0.6);
	display: -webkit-flex;
	display: flex;
	position: absolute;
	top: 740px;
	height: 50px;
	width: 100%;
	justify-content: center;
	line-height: 50px;
	p {
		padding: 0 3%;
		font-size: 80%;
	}
	.footer-link {
		color: black;
		text-decoration: none;
	}
}

//お問い合わせ
#contact-modal {
	margin-left: 10%;
	width: 80%;
}

//プラポリ
.modal-body {
	h4 {
		font-size: medium;
		font-weight: bold;
	}
	p {
		font-size: small;
	}
}