html,body {
	height: 100%;
}

header {
	background-color: rgba(58, 83, 83, 0.42);
	width: 100%;
	z-index: 1;
	position: fixed;
	top: 0;
	height: 60px;
}

.navbar-brand {
	padding: 0;
  position: absolute;
    top: 15%;
}

.navbar-nav {
	width: 120px;
	height: 100vh;
	transition: 1.0s;
	position: absolute;
    top: 60px;
    right: -120px;
	background-color: rgba(228, 236, 243, 0.8);
	z-index: 2;
}

.header-mask.hidden {
	opacity: 0;
	visibility: hidden;
}

.header-mask {
	height: 100vh;
  width: 100%;
  position: absolute;
  top: 60px;
  z-index: 1;
	transition: 1.0s;
	background-color: rgba(black, 0.4);
}

.navbar-nav.open {
	position: absolute;
	top: 60px;
	right: 0;
	transition: 1.0s;
	z-index: 2;
}

.nav-item {
	padding: 7px;
}

.nav-item a {
	color: rgba(black, 0.5);
}

.nav-item a:hover {
	color: black;
}

.nav-button {
	text-decoration: none;
	color: rgba(black, 0.5);
}

.logout-button:hover {
	text-decoration: none;
	color: black;
}

//before_login_header
.navbar-nav-before {
	list-style: none;
	position: absolute;
    top: 5px;
    right: 0;
}

//ハンバーガーメニュー
.hamburger-wrapper {
	width: 60px;
	height: 60px;
  box-sizing: border-box;
	position: absolute;
    top: 3%;
    right: 1%;
}

/* 三本線のスタイルを決める */
span {
  display: block;
  width: 40px;
  height: 6px;
  background: #444;
  position: absolute;
  left: 10px;
  transition: all 0.5s ease;
}

/* 線の縦位置の調整 */
.bar1 { 
  top: 12.5px;
}

.bar2 {
  top: 25px;
}

.bar3 {
  top: 37.5px;
}

.bar1.open {
	top: 25px;
	transform: rotate(45deg);
}

.bar2.open {
	opacity: 0;
}

.bar3.open {
	top: 25px;
	transform: rotate(-45deg);
}

//トップ画面
.container, .row {
	height: 100%;
}

.home-background {
	h2 {
		position: absolute;
		top: 18%;
		width: 100%;
		text-align: center;
		display: inline-block;
		font-size: 180%;
	}
	
	h1 {
		font-size: 250%;
		width: 100%;
		text-align: center;
		display: inline-block;
		position: absolute;
		top: 45%;
	}
}



.btn-start {
	display: inline-block;
	border-radius: 100px;
	background-color: black;
	color: white;
	text-decoration: none;
	text-align: center;
	margin: 0 auto;
	padding: 10px 20px;
	width: 40%;
}

.btn-start:hover {
	background-color: rgba(black, 0.7);
	color: white;
	
}

#left-start {
	position: absolute;
	top: 70%;
	left: 30%;
}

#right-start {
	position: absolute;
	top: 80%;
	left: 30%;
}

/* footer */
footer {
	background: rgba(white, 0.6);
	display: -webkit-flex;
	display: flex;
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 100%;
	justify-content: center;
	line-height: 50px;
	p {
		padding: 0 3%;
		font-size: 80%;
	}
	.footer-link {
		color: black;
		text-decoration: none;
	}
}

//お問い合わせ
#contact-modal {
	margin-left: 10%;
	width: 80%;
}

//プラポリ
.modal-body {
	h4 {
		font-size: medium;
		font-weight: bold;
	}
	p {
		font-size: small;
	}
}
