
.background {
	background: url("22182134.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 130px;
	
}

.game-fonts { 
	font-family: 'Mochiy Pop P One', sans-serif; 
}

.home-title {
	position: relative;
	
	h2 {
		position: absolute;
		top: 20%;
		left: 0%;
		width: 100%;
		text-align: center;
		display: inline-block;
		font-size: 170%;
	}
	
	h1 {
		//margin-top: 150px;
		width: 100%;
		text-align: center;
		font-size: 330%;
		display: inline-block;
		//position: absolute;
		//top: 60%;
		//left: 0%;
	}
}

.btn-start {
	display: inline-block;
	border-radius: 100px;
	background-color: black;
	color: white;
	text-decoration: none;
	text-align: center;
	margin: 100px auto;
	padding: 20px 20px;
	width: 40%;
}

.link-to-mode {
	position: relative;
	height: 300px;
}

#left-start {
	position: absolute;
	top: 200px;
	left: 7%;
}

#right-start {
	position: absolute;
	top: 200px;
	left: 53%;
}