.password-resets-row {
  height: 0;
}

.password-resets-wrapper {
  margin: 100px auto;
}

.sending-password-resets-email {
  display: block;
  margin: 30px auto;
}

.password-resets-edit-wrapper {
  margin: 30px auto;
}

.sending-new-password {
  display: block;
  margin: 30px auto;
}
