.register-wrapper {
  font-family: 'Mochiy Pop P One', sans-serif;
  margin: 20px auto;
}

.form_control {
  width: 100%;
}

.register-button {
  padding-top: 20px;
  text-align: center;
}

.to-login-button {
  width: 40%;
  margin-top: 50px;
  font-family: 'Mochiy Pop P One', sans-serif;
}

//詳細画面
.profile-edit-wrapper, .diagnosis-history-wrapper {
  margin: 0 auto;
}

.diagnosis-back {
  font-family: 'Mochiy Pop P One', sans-serif;
  background-color: white;
  border-radius: 3px;
  margin: 30px auto;
  
}

.diagnosis-history {
  button {
  width: 100%;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  }
}

.diagnosis-count {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid black;
  position: relative;
}

.diagnosis-contents {
  border-bottom: 1px solid black;
  h2 {
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 80%;
    margin-left: 10%;
    background-color: black;
    color: white;
    border-radius: 100px;
  }
  p {
    margin: 20px 0;
    text-align: center;
    font-size: large;
  }
  .diagnosis-commentator {
    text-align: center;
    padding: 5% 0;
  }
}

//モーダル

#mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#commentator-modal {
  position: fixed;   /* スクロールで移動しないようmodalの位置を固定します */
  top: 10vh;
  /* 以下3行：モーダルを左右中央揃えにする方法 */
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;   /* transitionでアニメーションを作成 */
  z-index: 2;   /* マスクより上に重なるようにする */
  width: 80%;   /* showビューの幅に合わせて設定 */
}

/* hiddenクラスで最初は表示されないようにする */
#mask.hidden {
  opacity: 0;
  visibility: hidden;
}

#commentator-modal.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);   /* 大きさ0.8倍から等倍にモーダルが拡大される */
}
