.register-wrapper {
  font-family: 'Mochiy Pop P One', sans-serif;
  margin: 20px auto;
}

.form_control {
  width: 100%;
}

.register-button {
  padding-top: 20px;
  text-align: center;
}

.to-login-button {
  width: 40%;
  margin-top: 50px;
}
